<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My Donations</title>
     <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #304875, #8aaae5);
}
.container{
  max-width: 700px;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg,  #8AAAE5, #FFFFFF);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100%);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 
form .button{
  height: 45px;
  margin: 35px 0
}
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: rgb(0, 0, 0);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg,  #8AAAE5, #FFFFFF);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #8AAAE5, #FFFFFF);
  }
  table, th, td {
  border: 3px solid #8AAAE5;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
     </style>
   </head>
<body>
  <div class="container">
    <div class="title">My Donations</div>
    <div class="content">
      <form action="/donor/get-donated" method="post">
        <div class="user-details">
          <div class="input-box">
            <input type="email" placeholder="Enter Your Mail " name="email" required>
          </div>
        </div>
          <div class="button">
            <input type="submit" value="Get">
          </div>

        </form>
          <!-- <% details.forEach(data=>{%>
            <div style="border-style: solid;border-color:#8AAAE5;border-radius: 5px;border-spacing: 5px;padding: 5px;">
              <% data.foods.forEach(food=>{%>
                <p><%= food%></p> 
              <%})%>
              <% data.quantities.forEach(quan=>{%>
                <p><%= quan%>kg</p> 
              <%})%>
              <p><%= data.date%></p>
            </div>`
            <br>
              <%})%>
      </div> -->
      <% if(details){%>
      <table>
        <thead>
          <tr>
            <th>FOOD ITEMS</th>
            <th>QUANTITY</th>
            <th>DATE OF DONATION</th>
          </tr>
        </thead>
        <tbody>
          <% details.forEach(data=>{%>
            <tr>
              <td><%=data.foods%></td>
              <td><%= data.quantities%></td>
              <td><%= data.date%></td>
            </tr>
            <%})%>
        </tbody>
      </table>
      <%}%>
      <%else{%>
        <div>No Donations Done yet</div>
      <%}%>
    </div>

    

    <!-- <script>
        fetch('localhost:3000/donor/get-donated').then(res=>{return res.json()}).then(data=>{data.forEach(user => {
          const markup = `<li>${user.email}</li>`

          document.querySelector('ul').insertAdjacentHTML('beforeend',markup)
        });})
        
    </script> -->

</body>
</html>

